<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="builder-generator-eclipse-plugin.editorContribution"
            targetID="#CompilationUnitEditorContext">
         <action 
               class="com.sabre.buildergenerator.ui.actions.GenerateBuilderCompilationUnitEditorAction"
               id="builder-generator-eclipse-plugin.generateBuilderCompliationUnitEditorPopupMenuAction"
               label="Generate Fluent Builder..."
               menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup">
         </action>
      </viewerContribution>
      
      <!-- contributrion for quick source menu -->
      <!--
      <viewerContribution
            id="builder-generator-eclipse-plugin.editorQuickContribution"
            targetID="#CompilationUnitEditorContext">
         <action 
               class="com.sabre.buildergenerator.ui.actions.GenerateBuilderCompilationUnitEditorAction"
               id="builder-generator-eclipse-plugin.generateBuilderCompliationUnitEditorQuickPopupMenuAction"
               label="Generate Fluent Builder..."
               menubarPath="org.eclipse.jdt.ui.edit.text.java.source.quickMenu/generateGroup">
         </action>
      </viewerContribution>
      -->
      
      <objectContribution
            adaptable="false"
            id="builder-generator-eclipse-plugin.itypeContribution"
            objectClass="org.eclipse.jdt.core.IType">
         <action
               class="com.sabre.buildergenerator.ui.actions.GenerateBuilderForITypeAction"
               id="builder-generator-eclipse-plugin.itypeGenerateAction"
               label="Generate Fluent Builder..."
               menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="com.sabre.buildergenerator.generateBuilder"
               label="Generate Fluent Builder..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.eclipse.jdt.core.ICompilationUnit">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sabre.buildergenerator.ui.handler.GenerateBuilder"
            commandId="com.sabre.buildergenerator.generateBuilder">
      </handler>
   </extension>
   <extension
         id="com.sabre.buildergenerator.generateBuilder"
         name="Generate Fluent Builder"
         point="org.eclipse.ui.commands">
      <command
            id="com.sabre.buildergenerator.generateBuilder"
            name="Generate Fluent Builder">
      </command>
   </extension>

</plugin>
